* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-size: 18px;
  font-family: $Rubik;
  font-weight: 400;
  background: $Very-dark-blue;
  color: $white;
  display: grid;
  justify-content: center;
  align-content: center;

  h4 {
    font-weight: 400;
  }

  p {
    color: $Pale-Blue;
  }

  ul {
    color: $Desaturated-blue;
  }
}