.container {
  display: grid;
  grid-template-columns: 24% 78%;
  gap: 20px;
  justify-self: center;
  justify-content: center;
  align-self: center;

  .perfil {
    max-width: 100%;
    text-align: justify;
    background: $Dark-blue;
    border-radius: 10px;

    .info {
      padding: 1.5rem 1.5rem 4rem 1.5rem;
      background: $Desaturated-blue;
      border-radius: 10px;

      img {
        width: 30%;
        margin-bottom: 2rem;
        border-radius: 99px;
        border: 2px solid $white;
      }

      #name {
        font-size: 30px;
        font-weight: 300;
        color: $white;
      }
    }

    ul {
      padding: 1rem;
      list-style: none;

      li {
        margin: 1rem;

        a {
          text-decoration: none;
          color: $Pale-Blue;

          &:hover {
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .schedules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;

    .components {
      padding: 3rem 0 0 0;
      border-radius: 13px;

      .hours {
        width: 100%;
        padding: 1rem;
        background: $Dark-blue;
        border-radius: 10px;
        position: relative;
        cursor: default;

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 1.5rem;
            cursor: pointer;
          }
        }

        &:hover {
          background: $Ligth-violet;
        }

        .test {
          position: fixed;
          margin-top: 20px;
          padding: 20px 40px 20px 20px;
          background: $white;
          color: black;
          border-radius: 5px;
          display: none;
        }
      }

      #time {
        margin: 1rem 0;
        color: $white;
        font-size: 42px;
        font-weight: 300;
      }
    }

    #work {
      background: url(../images/icon-work.svg) no-repeat right top
        $Light-red-work;
    }

    #play {
      background: url(../images/icon-play.svg) no-repeat right top
        $Soft-blue-play;
    }

    #study {
      background: url(../images/icon-study.svg) no-repeat right top
        $Light-red-study;
    }

    #exercise {
      background: url(../images/icon-exercise.svg) no-repeat right top
        $Lime-green-exercise;
    }

    #social {
      background: url(../images/icon-social.svg) no-repeat right top
        $Violet-social;
    }

    #self {
      background: url(../images/icon-self-care.svg) no-repeat right top
        $Soft-orange-self;
    }
  }

  @media (max-width: 875px) {
    margin: 0 20%;
    grid-template-columns: none;

    .perfil {
      margin-top: 50rem;

      .info {
        padding: 1rem;
        display: flex;

        .text {
          margin-top: 1rem;
          margin-left: 0.8rem;

          #name {
            font-size: 23px;
          }
        }
      }

      ul {
        display: flex;
      }
    }

    .schedules {
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

      .text-hours {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #time {
          font-size: 30px;
        }
      }
    }
  }

  @media (max-width: 280px) {
    margin: 0 30%;
  }
}

.attribution {
  font-size: 11px;
  position: absolute;

  bottom: 0;
  left: 40%;

  a {
    color: hsl(228, 45%, 44%);
  }

  @media (max-width: 1000px) {
    display: none;
  }
}
