.container {
  display: grid;
  grid-template-columns: 23% 74%;
  grid-template-rows: 88%;
  gap: 20px;
  justify-self: center;
  justify-content: center;
  align-self: center;

  .perfil {
    max-width: 100%;
    text-align: justify;
    background: $Dark-blue;
    border-radius: 10px;

    .info {
      padding: 1.5rem 1.5rem 4rem 1.5rem;
      background: $Desaturated-blue;
      border-radius: 10px;

      img {
        width: 30%;
        margin-bottom: 2rem;
        border-radius: 99px;
        border: 2px solid $white;
      }

      #name {
        font-size: 30px;
        font-weight: 300;
        color: $white;
      }
    }

    ul {
      padding: 1rem;
      list-style: none;

      li {
        margin: 1rem;
      }
    }
  }

  .schedules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;


    .components {
      text-align: end;
      border-radius: 10px;
      
      img {
        width: 30%;
        margin: 0 1rem;
        top: 10;
      }

      .hours {
        width: 100%;
        padding: 1rem;
        text-align: left;
        background: $Dark-blue;
        border-radius: 10px;
  
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 1.5rem;
          }
        }
      }

      #time {
        margin: 1rem 0;
        color: $white;
        font-size: 42px;
        font-weight: 300; 
      }
    }

    #work {
      background: $Light-red-work;
    }

    #play {
      background: $Soft-blue-play;
    }

    #study {
      background: $Light-red-study;
    }

    #exercise {
      background: $Lime-green-exercise;
    }

    #social {
      background: $Violet-social;
    }

    #self {
      background: $Soft-orange-self;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}