* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background: #0f1424;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body h4 {
  font-weight: 400;
}

body p {
  color: #bdc1ff;
}

body ul {
  color: #6f76c8;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24% 78%;
      grid-template-columns: 24% 78%;
  gap: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.container .perfil {
  max-width: 100%;
  text-align: justify;
  background: #1c1f4a;
  border-radius: 10px;
}

.container .perfil .info {
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  background: #6f76c8;
  border-radius: 10px;
}

.container .perfil .info img {
  width: 30%;
  margin-bottom: 2rem;
  border-radius: 99px;
  border: 2px solid white;
}

.container .perfil .info #name {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.container .perfil ul {
  padding: 1rem;
  list-style: none;
}

.container .perfil ul li {
  margin: 1rem;
}

.container .perfil ul li:hover {
  color: white;
  cursor: pointer;
}

.container .schedules {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .schedules .components {
  padding: 3rem 0 0 0;
  border-radius: 13px;
}

.container .schedules .components .hours {
  width: 100%;
  padding: 1rem;
  background: #1c1f4a;
  border-radius: 10px;
  position: relative;
}

.container .schedules .components .hours .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .schedules .components .hours .title img {
  width: 1.5rem;
  cursor: pointer;
}

.container .schedules .components .hours:hover {
  background: #4d5084;
}

.container .schedules .components .hours .test {
  position: fixed;
  margin-top: 20px;
  padding: 20px 40px 20px 20px;
  background: white;
  color: black;
  border-radius: 5px;
  display: none;
}

.container .schedules .components #time {
  margin: 1rem 0;
  color: white;
  font-size: 42px;
  font-weight: 300;
}

.container .schedules #work {
  background: url(../images/icon-work.svg) no-repeat right top #ff8c66;
}

.container .schedules #play {
  background: url(../images/icon-play.svg) no-repeat right top #56c2e6;
}

.container .schedules #study {
  background: url(../images/icon-study.svg) no-repeat right top #ff5c7c;
}

.container .schedules #exercise {
  background: url(../images/icon-exercise.svg) no-repeat right top #4acf81;
}

.container .schedules #social {
  background: url(../images/icon-social.svg) no-repeat right top #7536d3;
}

.container .schedules #self {
  background: url(../images/icon-self-care.svg) no-repeat right top #f1c65b;
}

@media (max-width: 875px) {
  .container {
    margin: 0 20%;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .container .perfil {
    margin-top: 66rem;
  }
  .container .perfil .info {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .perfil .info .text {
    margin-top: 1rem;
    margin-left: .8rem;
  }
  .container .perfil .info .text #name {
    font-size: 23px;
  }
  .container .perfil ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .schedules {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .container .schedules .text-hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .schedules .text-hours #time {
    font-size: 30px;
  }
}

@media (max-width: 280px) {
  .container {
    margin: 0 30%;
  }
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 1000px) {
  .attribution {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */