* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background: #0f1424;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body h4 {
  font-weight: 400;
}

body p {
  color: #bdc1ff;
}

body ul {
  color: #6f76c8;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 74%;
      grid-template-columns: 23% 74%;
  -ms-grid-rows: 88%;
      grid-template-rows: 88%;
  gap: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.container .perfil {
  max-width: 100%;
  text-align: justify;
  background: #1c1f4a;
  border-radius: 10px;
}

.container .perfil .info {
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  background: #6f76c8;
  border-radius: 10px;
}

.container .perfil .info img {
  width: 30%;
  margin-bottom: 2rem;
  border-radius: 99px;
  border: 2px solid white;
}

.container .perfil .info #name {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.container .perfil ul {
  padding: 1rem;
  list-style: none;
}

.container .perfil ul li {
  margin: 1rem;
}

.container .schedules {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .schedules .components {
  text-align: end;
  border-radius: 10px;
}

.container .schedules .components img {
  width: 30%;
  margin: 0 1rem;
  top: 10;
}

.container .schedules .components .hours {
  width: 100%;
  padding: 1rem;
  text-align: left;
  background: #1c1f4a;
  border-radius: 10px;
}

.container .schedules .components .hours .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .schedules .components .hours .title img {
  width: 1.5rem;
}

.container .schedules .components #time {
  margin: 1rem 0;
  color: white;
  font-size: 42px;
  font-weight: 300;
}

.container .schedules #work {
  background: #ff8c66;
}

.container .schedules #play {
  background: #56c2e6;
}

.container .schedules #study {
  background: #ff5c7c;
}

.container .schedules #exercise {
  background: #4acf81;
}

.container .schedules #social {
  background: #7536d3;
}

.container .schedules #self {
  background: #f1c65b;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */